<%- include("partials/header"); -%>

<h1>Post</h1>

<h2><%= post.title %></h2>
<p><%= post.content %></h2>
<div>
  <a class="btn btn-success" href="/posts">Back to posts</a>
  <form method="POST" action="/posts/<%= post.slug%>/<%= post._id%>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
</div>


<%- include("partials/footer"); -%>
