<%- include("partials/header"); -%>

<div class="d-flex">
  <div class="flex-grow-1">
    <a class="btn btn-dark" href="/posts">Back to posts</a>
  </div>
  <% if (post.author._id.toString() === user._id.toString()) { %>
  <a class="btn btn-outline-primary me-2" href="/posts/<%= post.slug%>/<%= post._id%>/edit">Edit</a>
  <form method="POST" action="/posts/<%= post.slug%>/<%= post._id%>">
    <input type="hidden" name="_method" value="DELETE" />
    <button class="btn btn-outline-danger" type="submit">Delete</button>
  </form>
  <% } else { %>
    <a
    class="me-2 btn <%= user.bookmark.includes(post.id) ? "btn-success" : "btn-outline-success"%>"
    href="/posts/<%= post.slug%>/<%= post._id%>/bookmark"
    ><%= user.bookmark.includes(post.id) ? "Bookmarked" : "Bookmark"%></a>
  <% } %>
   
</div>

<div class="post text-center">
  <div class="post-details">
    <h1><%= post.title %></h1>
    <p>By: <%= post.author.username %>  &bull; <%= moment(post.createdAt).format('MMMM D, yyyy h:mm A') %></p>
    <p><% post.category.forEach(category => { %> <%= category.name %> <% }) %></p>
  </div>
  <div class="post-content">
    <p><%= post.content %></p>
  </div>
</div>

<div>
  <% post.comments.forEach(comment => { %>
  <hr />
  <div class="d-flex flex-row my-2">
    <span class="mr-2"><%= comment.user.username %></span>
    <span class="ml-2">&bull; <%= moment(comment.createdAt).fromNow(); %></span>
  </div>
  <span><%= comment.comment %></span>
  <% }) %>
  <hr />
</div>

<form class="" action="/posts/<%= post.slug%>/<%= post._id%>/comment" method="post">
  <div class="d-flex flex-row mt-4 mb-4">
    <input type="text" class="form-control mr-3 comments-area" placeholder="Add comment" name="postComment" />
    <button class="btn btn-primary" type="submit" name="button">Comment</button>
  </div>
</form>

<%- include("partials/footer"); -%>
